<md-toolbar class="md-background" md-theme="app-blue">
    <toolbar-directive title="Surat Koreksi"></toolbar-directive>
</md-toolbar>
<md-content>
    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="!suratsIsReady">
        <md-progress-circular class="md-app-blue-theme" md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-list class="md-padding" ng-if="suratsIsReady">
        <div layout="row">
            <md-input-container flex>
                <label>Subject Surat...</label>
                <input type="text" ng-model="search.subject"/>
            </md-input-container>
            <md-input-container flex>
                <label>Nomor Surat...</label>
                <input type="text" ng-model="search.no_surat"/>
            </md-input-container>
            <md-input-container flex>
                <label>Hal Surat...</label>
                <input type="text" ng-model="search.hal"/>
            </md-input-container>
        </div>
        <div ng-repeat="suratdraft in suratsDraft| filter:search:strict track by ::suratdraft.id">
            <md-list-item class="md-3-line animate-hide" ng-class="{'divider-border': !$last}" layout="row">
                <div flex-sm="30" flex-gt-sm="10" layout="column">
<!--                    <div flex>
                        <i flex class="primary-disabled cursor-pointer md-raised material-icons md-48" ng-click="previewSurat($event, suratdraft)">&#xE8A0;</i>
                    </div>-->
                    <div flex>
                        <i flex class="primary-disabled cursor-pointer material-icons md-48" ng-click="editSurat(suratdraft)">&#xE254;</i>
                    </div>
                </div>
                <div flex flex-offset="10" class="md-list-item-text nowrap">
                    <h3 ng-bind="::suratdraft.subject"></h3>
                    <h4 ng-bind="::suratdraft.no_surat"></h4>
                    <h4 ng-bind="::suratdraft.hal"></h4>
                    <p ng-bind="::suratdraft.tanggal"></p>
                    <p class="warn-disabled">Catatan koreksi:</p>
                    <p ng-bind-html="suratdraft.koreksi"></p> <!-- bind html karna ada tag html-->
                </div>
            </md-list-item>
            <md-divider ng-if="!$last"></md-divider>
        </div>
    </md-list>
</md-content>