<md-toolbar class="md-background" md-theme="app-blue">
    <toolbar-directive title="Surat Masuk"></toolbar-directive>
</md-toolbar>
<md-content>
    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="!suratsIsReady">
        <md-progress-circular class="md-app-blue-theme" md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-list class="md-padding" ng-if="suratsIsReady">
        <div ng-repeat="surat in surats track by ::surat.id">
            <md-list-item class="md-3-line animate-hide" ng-class="{'divider-border': !$last}">
                <div class="md-list-item-text">
                    <h3 ng-bind="::surat.subject" ng-class="{'primary-disabled': surat.isUnread}"></h3>
                    <h4 ng-bind="::surat.hal"></h4>
                    <p ng-bind="::surat.tanggal"></p>
                    <p ng-bind="::surat.role"></p>
                    <!--<p ng-bind-html="surat.isi"></p>-->
                </div>
                <md-button md-theme="app-blue" class="md-primary" ng-click="setFavorite($index, surat.id)" aria-label="isFavorite">
                    <i class="material-icons md-48" ng-if="!surat.isFavorite" style="margin-top: 10%;">star_border</i>
                    <i class="material-icons md-48" ng-if="surat.isFavorite" style="margin-top: 10%;">star_black</i>
                </md-button>
                <md-button md-theme="app-blue" class="md-primary" ng-click="viewSurat($event, surat.id)">
                    <i class="material-icons md-48" style="margin-top: 10%;">&#xE8A0;</i>
                </md-button>
            </md-list-item>
            <md-divider ng-if="!$last"></md-divider>
        </div>
    </md-list>
</md-content>