<md-toolbar class="md-background" md-theme="app-blue">
    <toolbar-directive title="Surat Favorite"></toolbar-directive>
</md-toolbar>
<md-content>
    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="!suratsIsReady">
        <md-progress-circular class="md-app-blue-theme" md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-list class="md-padding" ng-if="suratsIsReady">
        <span>Pencarian Surat</span>
        <div layout="row">
            <md-input-container flex>
                <label>Subject Surat...</label>
                <input type="text" ng-model="search.subject"/>
            </md-input-container>
            <md-input-container flex>
                <label>Nomor Surat...</label>
                <input type="text" ng-model="search.no_surat"/>
            </md-input-container>
            <md-input-container flex>
                <label>Pengirim Surat...</label>
                <input type="text" ng-model="search.pengirim"/>
            </md-input-container>
            <md-input-container flex>
                <label>Hal Surat...</label>
                <input type="text" ng-model="search.hal"/>
            </md-input-container>
        </div>
        <div ng-repeat="surat in surats| filter:search:strict track by ::surat.id">
            <md-list-item class="md-3-line" ng-class="{'divider-border': !$last}" layout="row">
                <div flex-sm="30" flex-gt-sm="10" layout="column">
                    <div flex>
                        <i flex class="primary-disabled cursor-pointer md-raised material-icons md-48" ng-if="!surat.isFavorite" ng-click="setFavorite($index, surat.id)">star_border</i>
                        <i flex class="primary-disabled cursor-pointer md-raised material-icons md-48" ng-if="surat.isFavorite" ng-click="setFavorite($index, surat.id)">star_black</i>
                    </div>
                    <div flex>
                        <i flex class="primary-disabled cursor-pointer md-raised material-icons md-48" ng-click="viewSurat($event, surat)">&#xE8A0;</i>
                    </div>
                </div>
                <div flex flex-offset="10" class="md-list-item-text nowrap">
                    <h3 ng-bind="::surat.subject" ng-class="{'primary-disabled': surat.isUnread}"></h3>
                    <h4 ng-bind="::surat.no_surat"></h4>
                    <h4 ng-bind="::surat.hal"></h4>
                    <h4 ng-bind="::surat.pengirim"></h4>
                    <p ng-bind="::surat.tanggal"></p>
                    <!--<p ng-bind-html="surat.isi"></p>-->
                </div>
            </md-list-item>
            <md-divider ng-if="!$last"></md-divider>
        </div>
    </md-list>
</md-content>