<md-toolbar class="md-background" md-theme="app-blue">
    <toolbar-directive title="Surat Keluar"></toolbar-directive>
</md-toolbar>
<md-content>
    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="!suratsIsReady">
        <md-progress-circular class="md-app-blue-theme" md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-list class="md-padding" ng-if="suratsIsReady">
        <div layout="row">
            <md-input-container flex>
                <label>Subject Surat...</label>
                <input type="text" ng-model="search.subject"/>
            </md-input-container>
            <md-input-container flex>
                <label>Nomor Surat...</label>
                <input type="text" ng-model="search.no_surat"/>
            </md-input-container>
            <md-input-container flex>
                <label>Hal Surat...</label>
                <input type="text" ng-model="search.hal"/>
            </md-input-container>
        </div>
        <div ng-repeat="suratkeluar in suratsKeluar| filter:search:strict track by ::suratkeluar.id">
            <md-list-item class="md-3-line" ng-class="{'divider-border': !$last}" layout="row">
                <div flex-sm="30" flex-gt-sm="10" layout="column">
                    <div flex>
                        <i class="primary-disabled cursor-pointer md-raised material-icons md-48" ng-click="previewSurat($event, suratkeluar)">&#xE8A0;</i>
                    </div>
                    <div flex>
                        <i class="primary-disabled material-icons md-48" ng-click="acceptSurat(suratkeluar.id)" ng-if="suratkeluar.ditandatangani === 0">&#xE876;</i>
                        <i class="warn-disabled material-icons md-48" ng-click="koreksiSurat($event, suratkeluar.id)" ng-if="suratkeluar.ditandatangani === 0">&#xE5CD;</i>
                        <i class="disabled-disabled material-icons md-48" ng-disabled="true" ng-if="suratkeluar.ditandatangani == 1">&#xE876;</i>
                    </div>
                </div>
                <div flex flex-offset="10" class="md-list-item-text" layout="column">
                    <h3 flex ng-bind="::suratkeluar.subject"></h3>
                    <h4 flex ng-bind="::suratkeluar.no_surat"></h4>
                    <h4 flex ng-bind="::suratkeluar.hal"></h4>
                    <p flex ng-bind="::suratkeluar.tanggal"></p>
                    <!--<p ng-bind-html="suratkeluar.isi"></p>-->
                    <span flex layout="row" ng-repeat="suratkeluarlampiran in ::suratkeluar.lampiran track by ::ruratkeluarlampiran.file_path">
                        <a flex target="_blank" ng-href="http://localhost/notifion-api/{{suratkeluarlampiran.file_path}}">Lampiran ke {{($index + 1)}}</a> &nbsp;
                    </span>
                </div>
            </md-list-item>
            <md-divider ng-if="!$last"></md-divider>
        </div>
    </md-list>
</md-content>