<div layout="column">

    <md-toolbar class="md-background" md-theme="app-blue">
        <toolbar-directive title="Tambah Kode Hal"></toolbar-directive>
    </md-toolbar>
    
        <md-content>
            <form name="tambahkodehal">
                <div layout layout-sm="column">
                    <!--<md-progress-linear md-mode="query" ng-if="isSubmitting"></md-progress-linear>-->
                    <md-input-container flex="33" style="padding: 20px;">
                        <label>Kode Hal</label>
                        <input type="text" name="kodehal" ng-model="kodehal" required/>
                    </md-input-container>
                    <md-input-container flex="33" style="padding: 20px;">
                        <label>Deskripsi</label>
                        <input type="text" name="deskripsi" ng-model="deskripsi" required/>
                    </md-input-container>
                </div>
                <md-button ng-click="submitKodeHal()" class="md-raised md-primary md-button" ng-disabled="tambahkodehal.$invalid || isSubmitting">Submit</md-button>        
            </form>
            <md-list class="md-padding">
                <h1 style="text-align: center;">List Kode Hal</h1>
                <md-list-item class="md-3-line animate-hide" ng-class="{'divider-border': !$last}" ng-repeat="kodehal in kodehals">
                    <div class="md-list-item-text">
                        <p class="text-lighten-4"><i>Kode Hal</i></p>
                        <h4>{{kodehal.kode_hal}}</h4>
                    </div><div class="md-list-item-text">
                        <p class="text-lighten-4"><i>Deskripsi</i></p>
                        <h4>{{kodehal.deskripsi}}</h4>
                    </div>
                    <md-button md-theme="app-blue" class="md-primary" ng-click="deleteKodeHal(kodehal.kode_hal, $index)">
                        <i class="material-icons md-48" style="margin-top: 10%;">&#xE15C;</i>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
</div>