<div layout="column">
    <md-toolbar class="md-background" md-theme="app-blue">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="sidenav" hide-gt-md>
                <i class="material-icons" style="margin-top: 22%;">&#xE5D2;</i>
            </md-button>
            <h2>
                <span>Dashboard</span>
            </h2>
        </div>
    </md-toolbar>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Surat Masuk">
                <md-content>
                    <md-list class="md-padding">
                        <md-list-item class="md-3-line animate-hide" ng-class="{'divider-border': !$last}" ng-repeat="surat in surats track by $index">
                            <div class="md-list-item-text">
                                <h3>{{surat.subject}}</h3>
                                <h4>{{surat.hal}}</h4>
                                <p>{{surat.tanggal}}</p>
                                <p>{{surat.role}}</p>
                                <p ng-bind-html="surat.isi"></p>
                            </div>
                            <md-button md-theme="app-blue" class="md-primary" ng-click="setFavorite($index, surat.id)" aria-label="isFavorite">
                                <i class="material-icons md-48" ng-if="!surat.isFavorite" style="margin-top: 10%;">star_border</i>
                                <i class="material-icons md-48" ng-if="surat.isFavorite" style="margin-top: 10%;">star_black</i>
                            </md-button>
                            <md-button md-theme="app-blue" class="md-primary" ng-click="viewSurat($event, surat.id)">
                                <i class="material-icons md-48" style="margin-top: 10%;">&#xE8A0;</i>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
            <md-tab label="Surat Keluar">
                <md-content>
                    <md-list class="md-padding">
                        <md-list-item class="md-3-line animate-hide" ng-class="{'divider-border': !$last}" ng-repeat="suratkeluar in suratsKeluar track by $index" ng-hide="hideMe[$index]">
                            <div class="md-list-item-text">
                                {{suratkeluar.ditandangani}}
                                <h3>{{suratkeluar.subject}}</h3>
                                <h4>{{suratkeluar.hal}}</h4>
                                <p>{{suratkeluar.tanggal}}</p>
                                <p ng-bind-html="suratkeluar.isi"></p>
                            </div>
                            <md-button md-theme="app-blue" ng-disabled="true" ng-if="suratkeluar.ditandatangani == 1">
                                <i class="material-icons md-48" style="margin-top: 10%;">&#xE876;</i>
                            </md-button>
                            <md-button md-theme="app-blue" ng-disabled="true" style="color: rgb(244,67,54);" ng-if="suratkeluar.ditandatangani == 0">
                                <i class="material-icons md-48" style="margin-top: 10%;">&#xE88F;</i>
                            </md-button>
                            <md-button md-theme="app-blue" class="md-primary" ng-click="previewSurat($event, suratkeluar.id, suratkeluar.ditandatangani)">
                                <i class="material-icons md-48" style="margin-top: 10%;">&#xE8A0;</i>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
            <md-tab label="Rejected">
                <md-content>
                    <md-list class="md-padding">
                        <md-list-item class="md-3-line animate-hide" ng-class="{'divider-border': !$last}" ng-repeat="suratdraft in suratsDraft track by $index" ng-hide="hideMe[$index]">
                            <div class="md-list-item-text">
                                <h3>{{suratdraft.subject}}</h3>
                                <h4>{{suratdraft.hal}}</h4>
                                <p>{{suratdraft.tanggal}}</p>
                                <p ng-bind-html="suratdraft.isi"></p>
                            </div>
                            <md-button md-theme="app-blue" class="md-primary" ng-click="editSurat($event, suratdraft.id)">
                                <i class="material-icons md-48" style="margin-top: 10%;">&#xE254;</i>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>