<md-dialog style="height: auto;">
    <md-toolbar class="md-background" md-theme="app-blue">
        <div class="md-toolbar-tools">
            <h2>
                <span>Edit</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()" aria-label="Close">
                <i class="material-icons" style="margin-top: 22%;">&#xE5CD;</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content md-theme="app-blue" layout-padding>
        <form name="submitSurat">
            {{ctrl.contactsTujuan}}
            <div layout layout-sm="column">
                <md-input-container style="width: 80%">
                    <label>Subject</label>
                    <input type="text" name="subject" ng-model="subject"/>
                </md-input-container>
                <md-input-container flex>
                    <label>Tanggal Surat</label>
                    <input type="date" ng-model="tanggalsurat" required>
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container style="width: 35%;">
                    <label>No. Surat</label>
                    <input type="text" name="nosurat" ng-model="nosurat" required>
                </md-input-container>
                <md-input-container style="width: 35%;">
                    <label>Lampiran</label>
                    <input type="text" name="lampiran" ng-model="lampiran" required>
                </md-input-container>
                <md-input-container style="width: 35%;">
                    <label>Hal</label>
                    <input type="text" name="hal" ng-model="hal" required>
                </md-input-container>
            </div>
            <md-contact-chips 
                name="tujuan"
                ng-model="ctrl.contactsTujuan" 
                md-contacts="ctrl.querySearchTujuan($query)" 
                md-contact-name="name" 
                md-contact-image="image" 
                md-contact-email="keterangan" 
                md-require-match="true" 
                filter-selected="ctrl.filterSelectedTujuan" 
                placeholder="Tujuan" required>
            </md-contact-chips>
            <md-contact-chips 
                name="penandatangan"
                ng-model="ctrl.contactsPenandatangan" 
                md-contacts="ctrl.querySearchPenandatangan($query)" 
                md-contact-name="name" 
                md-contact-image="image" 
                md-contact-email="keterangan" 
                md-require-match="true" 
                filter-selected="ctrl.filterSelectedPenandatangan" 
                placeholder="Penandatangan">
            </md-contact-chips>
            <md-contact-chips 
                name="tembusan"
                ng-model="ctrl.contactsTembusan" 
                md-contacts="ctrl.querySearchTembusan($query)" 
                md-contact-name="name" 
                md-contact-image="image" 
                md-contact-email="keterangan" 
                md-require-match="true" 
                filter-selected="ctrl.filterSelectedTembusan" 
                placeholder="Tembusan">
            </md-contact-chips>
            <br>
            <text-angular ng-model="isisurat" class="materialize-textarea" required></text-angular>
            <md-button class="md-raised md-primary" md-theme="app-blue" ng-click="submit()" ng-disabled="submitSurat.$invalid || submitSurat.tujuan.$modelValue.length === 0
                        || submitSurat.penandatangan.$modelValue.length === 0
                                || submitSurat.tembusan.$modelValue.length === 0">Submit</md-button>
        </form>
    </md-content>
</md-dialog>