<md-dialog style="height: auto;">
    <md-toolbar class="md-background" md-theme="app-blue">
        <div class="md-toolbar-tools">
            <h2>
                <span>Koreksi Surat</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()" aria-label="Close">
                <i class="material-icons" style="margin-top: 22%;">&#xE5CD;</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content md-theme="app-blue" layout-padding>
        <form name="koreksiForm">
            <text-angular required ng-model="pesan" class="materialize-textarea" required></text-angular>
            <md-button class="md-raised md-primary" md-theme="app-blue" ng-click="submit($event)" ng-disabled="koreksiForm.$invalid">Submit</md-button>
        </form>
    </md-content>
</md-dialog>