<div layout="column" class="sn">
    <section layout="row" flex>
        <md-sidenav md-theme="app-blue" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-content layout-padding>
                <md-list-item ng->
                    <img src="img/100-1.jpeg" class="md-avatar" alt=""/>
                    <p>{{user.nama}}</p>
                </md-list-item>
            </md-content>
            <md-content layout-padding>
                <md-list-item>
                    <md-menu>
                        <md-button aria-label="Dashboard" ng-click="changeState('home.dashboard')">
                            Dashboard
                        </md-button>                        
                        <md-menu-content width="3"></md-menu-content>
                    </md-menu>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item>
                    <md-menu>
                        <md-button aria-label="Open Management User menu" ng-click="$mdOpenMenu()">
                            Management User
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button>
                                    Daftar User
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>
                                    Tambah User
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-button ng-click="$mdCloseMenu()">
                                    Tutup
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item>
                    <md-menu>
                        <md-button aria-label="Open Management Surat menu" ng-click="$mdOpenMenu()">
                            Management Surat
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button ng-click="changeState('home.buatSurat')">
                                    Buat Surat
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>
                                    Upload Surat
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-button ng-click="$mdCloseMenu()">
                                    Tutup
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-list-item>
                <md-list-item>
                    <md-button class="md-raised md-warn" ng-click="logout()">
                        Logout
                    </md-button>
                </md-list-item>
                <md-button ng-click="closeSidenav()" class="md-primary" hide-gt-md>
                    Close Sidenav Left
                </md-button>
            </md-content>
        </md-sidenav>
        <md-content flex>
            <div layout="column" layout-fill layout-align="top center">
<!--                <div>
                    <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
                        Toggle left
                    </md-button>
                </div>-->
                <div ui-view></div>
            </div>
        </md-content>
    </section>
</div>