<div layout="column" class="sn fade-animation">
    <section layout="row" flex>
        <md-sidenav md-theme="app-blue" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-content layout-padding>
                <md-list-item ng-if="$root.userInfoIsReady">
                    <img src="img/100-1.jpeg" class="md-avatar"/>
                    <p ng-bind="$root.userInfo.nama" ng-cloak></p>
                </md-list-item>   
                <md-progress-circular class="md-app-blue-theme" ng-if="!$root.userInfoIsReady" md-mode="indeterminate"></md-progress-circular>
            </md-content>
            <md-content role="navigation">
                <ul class="side-menu">
                    <li ng-repeat="section in vm.menu.sections" class="parent-list-item"
                        ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                        <h2 class="menu-heading" ng-if="section.type === 'heading'"
                            id="heading_{{ section.name | nospace }}">
                            {{section}}
                        </h2>
                    <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
                    <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
                    </li>
                </ul>
                <md-list-item>
                    <md-button class="md-raised md-warn" logout-directive>
                        Logout
                    </md-button>
                </md-list-item>
                <md-button class="md-primary" hide-gt-md sidenav-close-left>
                    Close Sidenav Left
                </md-button>
            </md-content>
        </md-sidenav>
        <md-content flex>
            <div layout="column" layout-fill layout-align="top center">
                <div layout="column">
                    <div ui-view class="fade-animation"></div>
                </div>
            </div>
        </md-content>
    </section>
</div>