<div layout="column">
    <md-toolbar class="md-background" md-theme="app-blue">
        <toolbar-directive title="Edit Biodata"></toolbar-directive>
    </md-toolbar>
    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="!$root.userInfoIsReady">
        <md-progress-circular class="md-app-blue-theme" md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-content layout-padding ng-if="$root.userInfoIsReady">
        <md-progress-linear md-mode="query" ng-if="isSubmitting"></md-progress-linear>
        <form name="editBiodata">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Nama</label>
                    <input type="text" name="nama" ng-model="data.nama" required/>
                </md-input-container>
                <md-input-container flex>
                    <label>NIP</label>
                    <input type="text" name="nama" ng-model="data.nip" ng-keypress="checkNumber($event)" required/>
                </md-input-container>
                <md-input-container flex>
                    <label>Password</label>
                    <input type="password" name="password" ng-model="data.password" required/>
                </md-input-container>
                <md-input-container flex>
                    <label>Jenis Kelamin</label>
                    <md-select name="gender" ng-model="data.gender" required>
                        <md-option value="1">Pria</md-option>
                        <md-option value="2">Wanita</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Email 1</label>
                    <input type="email" name="email1" ng-model="data.email1" required/>
                </md-input-container>
                <md-input-container flex>
                    <label>Email 2</label>
                    <input type="email" name="email2" ng-model="data.email2" required/>
                </md-input-container>
                <md-input-container flex>
                    <label>No. Handphone 1</label>
                    <input type="text" name="nohp1" ng-model="data.nohp1" ng-keypress="checkNumber($event)" required/>
                </md-input-container>
                <md-input-container flex>
                    <label>No. Handphone 2</label>
                    <input type="text" name="nohp2" ng-model="data.nohp2" ng-keypress="checkNumber($event)" required/>
                </md-input-container>
            </div>
            <md-button ng-click="submit()" class="md-raised md-primary md-button" ng-disabled="editBiodata.$invalid || isSubmitting">Submit</md-button>
        </form>
    </md-content>
</div>