<div layout="column">

    <md-toolbar class="md-background" md-theme="app-blue">
        <toolbar-directive title="Tambah Institusi"></toolbar-directive>
    </md-toolbar>

    <md-content>
        <div layout layout-sm="column">
            <md-input-container flex="33" style="padding: 20px; margin-bottom: -50px;">
                <h3>Tambah Institusi</h3>
            </md-input-container>
        </div>
        <form name="tambahInstitusi">
            <div layout layout-sm="column">
                <!--<md-progress-linear md-mode="query" ng-if="isSubmitting"></md-progress-linear>-->
                <md-input-container flex="33" style="padding: 20px;">
                    <label>Institusi</label>
                    <input type="text" name="institusi" ng-model="institusi" required/>
                </md-input-container>
                <md-input-container flex="33" style="padding: 20px;">
                    <label>Instansi</label>
                    <md-select ng-model="instansi">
                        <md-option ng-repeat="instansi in instansis" value="{{instansi.id_instansi}}">{{instansi.nama_instansi}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-button ng-click="submitInstitusi()" class="md-raised md-primary md-button" ng-disabled="tambahInstitusi.$invalid || isSubmitting">Submit</md-button>        
        </form>
        <md-list class="md-padding">
            <h1 style="text-align: center;">List Institusi</h1>
            <md-list-item class="md-3-line animate-hide" ng-class="{'divider-border': !$last}" ng-repeat="institusi in institusis">
                <div class="md-list-item-text">
                    <p class="text-lighten-4"><i>Nama Institusi</i></p>
                    <h4>{{institusi.nama_institusi}}</h4>
                </div>
                <div class="md-list-item-text">
                    <p class="text-lighten-4"><i>Id Institusi</i></p>
                    <h4>{{institusi.id_institusi}}</h4>
                </div>
                <md-button md-theme="app-blue" class="md-primary" ng-click="deleteInstitusi(institusi.id_institusi, $index)">
                    <i class="material-icons md-48" style="margin-top: 10%;">&#xE15C;</i>
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
</div>