<div layout="column">
    <md-toolbar class="md-background" md-theme="app-blue">
        <toolbar-directive title="Set Jabatan"></toolbar-directive>
    </md-toolbar>
    <md-content>
        <form name="SetJabatan">
            <div layout layout-sm="column">
                <!--<md-progress-linear md-mode="query" ng-if="isSubmitting"></md-progress-linear>-->
                <md-input-container flex="33" style="padding: 20px;">
                    <label>Account</label>
                    <md-select ng-model="account" required>
                        <md-option ng-repeat="user in users" ng-value="keepString(user.account)">{{user.account}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="33" style="padding: 20px;">
                    <label>Jabatan</label>
                    <md-select ng-model="jabatan" required>
                        <md-option ng-repeat="jabatan in jabatans" ng-value="keepString(jabatan.id_jabatan)">{{jabatan.jabatan}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-button ng-click="submitSetJabatan()" class="md-raised md-primary md-button" ng-disabled="SetJabatan.$invalid || isSubmitting">Submit</md-button>        
        </form>
        <md-list class="md-padding">
            <h1 style="text-align: center;">List Pejabat</h1>
            <md-list-item class="md-3-line animate-hide" ng-class="{'divider-border': !$last}" ng-repeat="pejabat in pejabats track by pejabat.account">
                <div class="md-list-item-text">
                    <p class="text-lighten-4"><i>Account</i></p>
                    <h4>{{pejabat.account}}</h4>
                </div>
                <div class="md-list-item-text">
                    <p class="text-lighten-4"><i>Nama</i></p>
                    <h4>{{pejabat.nama}}</h4>
                </div>
                <div class="md-list-item-text">
                    <p class="text-lighten-4"><i>Jabatan</i></p>
                    <h4>{{pejabat.jabatan}}</h4>
                </div>
                <!--                            <md-button md-theme="app-blue" class="md-primary" ng-click="editOP(institusis, user, $index)">
                                                <i class="material-icons md-48" style="margin-top: 10%;">&#xE254;</i>
                                                <md-tooltip>
                                                    Edit
                                                </md-tooltip>
                                            </md-button>-->
                <md-button md-theme="app-blue" class="md-primary" ng-click="deletePejabat(pejabat.account, pejabat.jabatan, $index)">
                    <i class="material-icons md-48" style="margin-top: 10%;">&#xE15C;</i>
                    <md-tooltip>
                        Delete
                    </md-tooltip>
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
</div>