<div layout="column">
    <md-toolbar class="md-background" md-theme="app-blue">
        <toolbar-directive title="Tambah Account"></toolbar-directive>
    </md-toolbar>
    <md-content>
        <div layout layout-sm="column">
            <md-input-container flex="33" style="padding: 20px; margin-bottom: -50px;">
                <h3>Tambah Account Operator</h3>
            </md-input-container>
        </div>
        <form name="tambahUserOP">
            <div layout layout-sm="column">
                <!--<md-progress-linear md-mode="query" ng-if="isSubmitting"></md-progress-linear>-->
                <!--                            <md-input-container flex="33" style="padding: 20px;">
                                                <label>Account</label>
                                                <input type="text" name="account" ng-model="account" required/>
                                            </md-input-container>-->
                <md-input-container flex="33" style="padding: 20px;">
                    <label>Password</label>
                    <input type="password" name="password" ng-model="password" required/>
                </md-input-container>
                <md-input-container flex="33" style="padding: 20px;">
                    <label>Institusi</label>
                    <md-select ng-model="ins" required>
                        <md-option ng-repeat="institusi in institusis" ng-value="keepString(institusi.id_institusi)">{{institusi.nama_institusi}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-button ng-click="submitOP()" class="md-raised md-primary md-button" ng-disabled="tambahUserOP.$invalid || isSubmitting">Submit</md-button>        
        </form>
        <md-list class="md-padding">
            <h1 style="text-align: center;">List User</h1>
            <md-list-item class="md-3-line animate-hide" ng-class="{'divider-border': !$last}" ng-repeat="user in users track by user.account">
                <div class="md-list-item-text">
                    <p class="text-lighten-4"><i>Account</i></p>
                    <h4>{{user.account}}</h4>
                </div>
                <div class="md-list-item-text">
                    <p class="text-lighten-4"><i>Institusi</i></p>
                    <h4>{{user.nama_institusi}}</h4>
                </div>
                <div class="md-list-item-text">
                    <p class="text-lighten-4"><i>Password</i></p>
                    <h4>{{user.password}}</h4>
                </div>
                <!--                            <md-button md-theme="app-blue" class="md-primary" ng-click="editOP(institusis, user, $index)">
                                                <i class="material-icons md-48" style="margin-top: 10%;">&#xE254;</i>
                                                <md-tooltip>
                                                    Edit
                                                </md-tooltip>
                                            </md-button>-->
                <md-button md-theme="app-blue" class="md-primary" ng-click="deleteOP(user.account, $index)">
                    <i class="material-icons md-48" style="margin-top: 10%;">&#xE15C;</i>
                    <md-tooltip>
                        Delete
                    </md-tooltip>
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
</div>