<div layout="column">
    <md-toolbar class="md-background" md-theme="app-blue">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="sidenav" hide-gt-md>
                <i class="material-icons" style="margin-top: 22%;">&#xE5D2;</i>
            </md-button>
            <h2>
                <span>Tambah User</span>
            </h2>
        </div>
    </md-toolbar>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Tambah Account">
                <md-content>
                    <md-list class="md-padding">
                        <h1 style="text-align: center;">List User</h1>
                        <md-list-item class="md-3-line animate-hide" ng-class="{'divider-border': !$last}" ng-repeat="user in users">
                            <div class="md-list-item-text">
                                <h3>Account</h3>
                                <h4>{{user.account}}</h4>
                            </div>
                            <md-button md-theme="app-blue" class="md-primary" ng-click="delete()">
                                <i class="material-icons md-48" style="margin-top: 10%;">&#xE15C;</i>
                            </md-button>
                        </md-list-item>
                    </md-list>
                    <div layout layout-sm="column">
                        <md-input-container flex="33" style="padding: 20px; margin-bottom: -50px;">
                            <h3>Tambah Account Operator</h3>
                        </md-input-container>
                    </div>
                    <form name="tambahUserOP">
                        <div layout layout-sm="column">
                            <!--<md-progress-linear md-mode="query" ng-if="isSubmitting"></md-progress-linear>-->
                            <md-input-container flex="33" style="padding: 20px;">
                                <label>Account</label>
                                <input type="text" name="account" ng-model="account" required/>
                            </md-input-container>
                            <md-input-container flex="33" style="padding: 20px;">
                                <label>Password</label>
                                <input type="password" name="password" ng-model="password" required/>
                            </md-input-container>
                            <md-input-container flex="33" style="padding: 20px;">
                                <label>Institusi</label>
                                <md-select ng-model="ins">
                                    <md-option ng-repeat="institusi in institusis" ng-value="keepString(institusi.id_institusi)">{{institusi.nama_institusi}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-button ng-click="submitOP()" class="md-raised md-primary md-button" ng-disabled="tambahUserOP.$invalid || isSubmitting">Submit</md-button>        
                    </form>
                </md-content>
            </md-tab>
            <md-tab label="Tambah Instansi">
                <md-content>
                    <md-list class="md-padding">
                        <h1 style="text-align: center;">List Instansi</h1>
                        <md-list-item class="md-3-line animate-hide" ng-class="{'divider-border': !$last}" ng-repeat="instansi in instansis">
                            <div class="md-list-item-text">
                                <h3>Nama Instansi</h3>
                                <h4>{{instansi.nama_instansi}}</h4>
                            </div>
                            <md-button md-theme="app-blue" class="md-primary" ng-click="delete()">
                                <i class="material-icons md-48" style="margin-top: 10%;">&#xE15C;</i>
                            </md-button>
                        </md-list-item>
                    </md-list>
                    <div layout layout-sm="column">
                        <md-input-container flex="33" style="padding: 20px; margin-bottom: -50px;">
                            <h3>Tambah Instansi</h3>
                        </md-input-container>
                    </div>
                    <form name="tambahInstansi">
                        <div layout layout-sm="column">
                            <!--<md-progress-linear md-mode="query" ng-if="isSubmitting"></md-progress-linear>-->
                            <md-input-container flex="33" style="padding: 20px;">
                                <label>Instansi</label>
                                <input type="text" name="instansi" ng-model="instansi" required/>
                            </md-input-container>
                        </div>
                        <md-button ng-click="submitInstansi()" class="md-raised md-primary md-button" ng-disabled="tambahInstansi.$invalid || isSubmitting">Submit</md-button>        
                    </form>
                </md-content>
            </md-tab>
            <md-tab label="Tambah Institusi">
                <md-content>
                    <md-list class="md-padding">
                        <h1 style="text-align: center;">List Institusi</h1>
                        <md-list-item class="md-3-line animate-hide" ng-class="{'divider-border': !$last}" ng-repeat="institusi in institusis">
                            <div class="md-list-item-text">
                                <h3>Nama Institusi</h3>
                                <h4>{{institusi.nama_institusi}}</h4>
                            </div>
                            <md-button md-theme="app-blue" class="md-primary" ng-click="delete()">
                                <i class="material-icons md-48" style="margin-top: 10%;">&#xE15C;</i>
                            </md-button>
                        </md-list-item>
                    </md-list>
                    <div layout layout-sm="column">
                        <md-input-container flex="33" style="padding: 20px; margin-bottom: -50px;">
                            <h3>Tambah Institusi</h3>
                        </md-input-container>
                    </div>
                    <form name="tambahInstitusi">
                        <div layout layout-sm="column">
                            <!--<md-progress-linear md-mode="query" ng-if="isSubmitting"></md-progress-linear>-->
                            <md-input-container flex="33" style="padding: 20px;">
                                <label>Institusi</label>
                                <input type="text" name="institusi" ng-model="institusi" required/>
                            </md-input-container>
                            <md-input-container flex="33" style="padding: 20px;">
                                <label>Instansi</label>
                                <md-select ng-model="instansi">
                                    <md-option ng-repeat="instansi in instansis" value="{{instansi.id_instansi}}">{{instansi.nama_instansi}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-button ng-click="submitInstitusi()" class="md-raised md-primary md-button" ng-disabled="tambahInstitusi.$invalid || isSubmitting">Submit</md-button>        
                    </form>
                </md-content>
            </md-tab>
            <md-tab label="Tambah Kode Hal Surat">
                <md-content>
                    <md-list class="md-padding">
                        <h1 style="text-align: center;">List Kode Hal</h1>
                        <md-list-item class="md-3-line animate-hide" ng-class="{'divider-border': !$last}" ng-repeat="kodehal in kodehals">
                            <div class="md-list-item-text">
                                <p class="text-lighten-4"><i>Kode Hal</i></p>
                                <h4>{{kodehal.kode_hal}}</h4>
                            </div><div class="md-list-item-text">
                                <p class="text-lighten-4"><i>Deskripsi</i></p>
                                <h4>{{kodehal.deskripsi}}</h4>
                            </div>
                            <md-button md-theme="app-blue" class="md-primary" ng-click="delete()">
                                <i class="material-icons md-48" style="margin-top: 10%;">&#xE15C;</i>
                            </md-button>
                        </md-list-item>
                    </md-list>
                    <div layout layout-sm="column">
                        <md-input-container flex="33" style="padding: 20px; margin-bottom: -50px;">
                            <h3>Tambah Kode Hal</h3>
                        </md-input-container>
                    </div>
                    <form name="tambahkodehal">
                        <div layout layout-sm="column">
                            <!--<md-progress-linear md-mode="query" ng-if="isSubmitting"></md-progress-linear>-->
                            <md-input-container flex="33" style="padding: 20px;">
                                <label>Kode Hal</label>
                                <input type="text" name="kodehal" ng-model="kodehal" required/>
                            </md-input-container>
                            <md-input-container flex="33" style="padding: 20px;">
                                <label>Deskripsi</label>
                                <input type="text" name="deskripsi" ng-model="deskripsi" required/>
                            </md-input-container>
                        </div>
                        <md-button ng-click="submitKodeHal()" class="md-raised md-primary md-button" ng-disabled="tambahkodehal.$invalid || isSubmitting">Submit</md-button>        
                    </form>
                </md-content>
            </md-tab>
            <md-tab label="Tambah Kode Unit Surat">
                <md-content>
                    <div layout layout-sm="column">
                        <md-input-container flex="33" style="padding: 20px; margin-bottom: -50px;">
                            <h3>Tambah Kode Unit</h3>
                        </md-input-container>
                    </div>
                    <form name="tambahKodeUnit">
                        <div layout layout-sm="column">
                            <!--<md-progress-linear md-mode="query" ng-if="isSubmitting"></md-progress-linear>-->
                            <md-input-container flex="33" style="padding: 20px;">
                                <label>Kode unit</label>
                                <input type="text" name="kodehal" ng-model="kodeunit" required/>
                            </md-input-container>
                            <md-input-container flex="33" style="padding: 20px;">
                                <label>Deskripsi</label>
                                <input type="text" name="deskripsi" ng-model="deskripsi" required/>
                            </md-input-container>
                            <md-input-container flex="33" style="padding: 20px;">
                                <label>institusi</label>
                                <md-select ng-model="inst" required>
                                    <md-option ng-repeat="institusi in institusis" ng-value="keepString(institusi.id_institusi)">{{institusi.nama_institusi}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-button ng-click="submitKodeUnit()" class="md-raised md-primary md-button" ng-disabled="tambahKodeUnit.$invalid || isSubmitting">Submit</md-button>        
                    </form>
                    <md-list class="md-padding">
                        <h1 style="text-align: center;">List Kode Unit</h1>
                        <md-list-item class="md-3-line animate-hide" ng-class="{'divider-border': !$last}" ng-repeat="kodeunit in kodeunits">
                            <div class="md-list-item-text">
                                <h3>Kode Unit</h3>
                                <h4>{{kodeunit.kode_unit}}</h4>
                            </div>
                            <div class="md-list-item-text">
                                <h3>Deskripsi</h3>
                                <h4>{{kodeunit.deskripsi}}</h4>
                            </div>
                            <md-button md-theme="app-blue" class="md-primary" ng-click="delete()">
                                <i class="material-icons md-48" style="margin-top: 10%;">&#xE15C;</i>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>